POSTGRES_DB=crm_database
POSTGRES_USER=crm_user
POSTGRES_PASSWORD=change_me

# Must match with the values in .env file

# Sadece docker-compose.prod.yml da kullaniliyor. onu da iptal edip .env ye gecir.
