-r requirements.txt   # include all production dependencies

# Dev & debugging
django-debug-toolbar>=6.0.0
django-extensions>=4.1

# Testing
pytest==8.4.2
pytest-django==4.11.1
factory-boy>=3.3.0
Faker==37.8.0


# Code quality / formatting
black>=24.1.1
flake8>=7.0.0
isort>=5.13.0
mypy>=1.8.0

# Environment management
python-dotenv>=1.0.0
pre-commit >= 4.3.0
